<?xml version="1.0"?>
<launch>
    <arg name="bag_dir" value="$(env HOME)/wayne_temp/tello_ws/bagfiles/240106"/>
    
    <arg name="imu_odom"    default="face_odom-imu-odom_2024-01-07-20-11-41.bag"/>
    <arg name="img"    default="face_odom-img_2024-01-07-20-11-41.bag"/>
    
    <arg name="bag_name"    default="face_odom"/>
    <arg name="d0"          value="tello_0"/>
    <arg name="d1"          value="tello_1"/>
    <arg name="d2"          value="tello_2"/>
        
    <!-- rosbag commands -->
    <!-- publish topics -->
    <!-- <node pkg="rostopic" type="rostopic" name="rostopic" args="pub /SOT std_msgs/Empty"/> -->

    <!-- rosbag play -->
    <!-- <node pkg="rosbag" type="play" name="replay_imu_odom" output="screen" args="clock $(arg bag_dir)/$(arg imu_odom)"/> -->
    <node pkg="rosbag" type="play" name="replay_img" output="screen" args="--clock $(arg bag_dir)/$(arg img) --topics /$(arg d0)/aruco_pose_arr /$(arg d1)/face_pose_arr"/>
    
    
    
    <!-- record topics til keyboardinterrupt -->
    


    <!-- record all sensor nodes -->


    <node pkg="rosbag" type="record" name="record_eskf" output="screen"
        args="record -o $(arg bag_dir)/$(arg bag_name)-eskf /$(arg d0)/eskf_state_full /$(arg d0)/bias /$(arg d1)/eskf_state_full /$(arg d1)/bias /$(arg d1)/eskf_init /$(arg d2)/eskf_state_full /$(arg d2)/bias /$(arg d2)/eskf_init /face_eskf /face_init"/>

</launch>