<?xml version="1.0"?>
<launch>

    <!-- remap the camera aruco pose -->
    <!--    if use_measured_init, then determine the initial camera position by aruco -->
    <group ns="camera">
        <node pkg="tello_pub" type="repubRS" name="repub_realsense" output="screen">
            <param name="use_measured_init" value="false"/>
            <param name="height"            value="1.0"/>
            <param name="front"             value="-2.59"/>
            <param name="right"             value="-0.813"/>
        </node>
    </group>
</launch>